streamlit
torch
transformers==4.52.4
bitsandbytes==0.46.0
accelerate==1.7.0
langchain==0.3.25
langchainhub==0.1.21
langchain-chroma==0.2.4
langchain-experimental==0.3.4
langchain-community==0.3.23
langchain-huggingface==0.2.0
python-dotenv==1.1.0
pypdf

